.supplier {
  gap: 0.25em;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.5em;
  font-size: 10pt;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "name" "total"
    "address" "delivery";
}

.supplier .businessName {
  grid-area: "name";
  font-size: 12pt;
  font-weight: bold;
}

.supplier .total {
  grid-area: "total";
  font-size: 12pt;
  font-weight: bold;
}

.supplier .address {
  grid-area: "address";
}

.supplier .deliveryDay {
  grid-area: "delivery";
  font-weight: 400;
  font-style: italic;
  color: green;
}
